
:root {
  --color-default: grey;
  --color-invalid: red;
  --color-valid: green;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Calibri', 'Trebuchet MS', Helvetica, sans-serif;
}

body {
  height: 100vh;
  position: relative;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin: 2% 6%;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 2% 6%;
}

.bodyContent {
  padding: 0% 20% 5% 20%;
}


input {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid $secondary;
  background-color: rgba(243, 243, 243, 0.653);
}

.inputSignForm{
  border: none;
  outline: none;

  // .valid {
  //     outline: 2px solid rgb(0, 232, 0);
  //   }
  
  // .invalid {
  //     outline: 2px solid red;
  //   }
}

span {
  font-style: italic;
  color: $tertiary;
  font-size: 0.8rem;
}

textarea {
  background-color: rgba(243, 243, 243, 0.653);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid $secondary;
  width: 100%;
  resize: none; 
}


.navContainer {
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $secondary;

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn {
  padding: 10px;
  border-radius: 10px;
  background-color: $secondary;
  border: 0px solid $primary;
  color: black;
  transition: transform .2s;
      
    &:hover {
        background-color: $primary;
        color: white;
        transform: scale(1.05);
        cursor: pointer;
    }
}

.inputFile {
  border: 0px solid $primary;
}

.thread {
  padding-bottom: 50px;
}

.imageUpload {
  display: none;
}

.imgIcons {
  height: 20px;
  margin: 0px 20px 0px 20px;
}

.interact {
  text-align: center;

  &:hover {
  color: $primary;
  cursor: pointer;
  }
}

.profileImg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  height: 40px;
  width: 40px;
  clip-path: circle();
  margin-right: 10px;
  border-radius: 50px;
  object-fit: cover;
}

.newPostContainer {
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  margin: 0% 15% 4% 15%;
  background-color: white;
  box-shadow: 0px 0px 3px $tertiary;

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    margin-top: 5px;
  }
}

.imageAdded {
  display: none;
  position: absolute;
  top: -4px;
  left: 58%;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: $primary;
}

.sendPost {
  margin-left: 10px;
}

.fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;

  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

.fa-heart {
  color: $primary;

  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

.fa-images {
  margin: 0px 20px 0px 20px;
}

.uploadImagePart {
  position: relative;
}

.fa-images:hover + .helpText {
    display: block;
    opacity: 1;
}

.helpText {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 15px;
  cursor: pointer;
  z-index: 300;
  background-color: white;
  box-shadow: 0px 0px 7px $tertiary;
  padding: 20%;
  width: max-content;
  border-radius: 10px;
}


p::selection {
  color: red;
  background-color: yellow;
}


.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}

.darkLogo{
  height: 100px;
}

@media only screen and (max-width: 768px) {

  .bodyContent {
    padding: 5% 0% 10% 0%;
  }

  .navContainer {
    padding: 10px 40px;
  }  

  .logoLink {
    display: none;
  }

  .newPostContainer {
    margin: 0% 5% 10% 5%;
  }

  nav .profileImg {
    margin: 20px;
  }

  h3 {
    margin: 5% 6%;
  }
}