

* {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  height: 100vh
}

.bodyContent {
  margin: 2% 20% 5% 20%;
}

input {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid $primary;
}

span {
  font-style: italic;
  color: $tertiary;
  font-size: 0.8rem;
}

textarea {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid $primary;
  height: 0%;
  width: 100%;
  resize: none; 
}


.NavContainer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $gradientColor;

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn {
  padding: 10px;
  border-radius: 20px;
  background-color: $primary;
  border: 1px solid white;
  color: white;
}

.inputFile {
  border: 0px solid $primary;
}



.thread {
  padding-bottom: 50px;
}

.image-upload {
  display: none;
}

.imgIcons {
  height: 20px;
  margin: 0px 20px 0px 20px;
}