


.CardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 15px;
    margin: 0% 15% 5% 15%;
    background-color: white;
    box-shadow: 0px 0px 7px $tertiary;
}


.CardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    &__Left {
        display: flex;
        align-items: center;
        flex-direction: row;

    }

    &__Right {
        display: flex;
        align-items: center;
        flex-direction: row;        

    }

    &__RightInner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; 
        margin-left: 30px;
    }
}

.CardMain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    
    & p {
        white-space: pre-line;
    }
}

.CardMain > textarea {
    margin-bottom: 5px;
}

.CardFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}


.LikeSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.fa-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 0px 20px 0px 20px;
    color: black;

    &--hover {
        color: $primary;
    }
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: right;
    position: absolute;
    right: 0px;
    background-color: white;
    width: max-content;
    border-radius: 20px;
    box-shadow: 0 2px 10px 0 rgba($color: #000000, $alpha: 0.2);
    transform: translateY(-20px);
    transition: opacity 260ms ease-in-out transform 260ms ease-in-out;

    &:hover {
        display: block;
        transform: translateY(0px);
        z-index: 300;
    }
}

.fa-ellipsis-vertical {
    padding: 0px 15px 0px 15px;
}

.fa-ellipsis-vertical:hover + .dropdown-content {
    display: block;
    transform: translateY(0px);
    z-index: 300;
}

.dropdown-list {
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

.dropdown-list:hover {
    color: white;
    background-color: $primary;
}



@media only screen and (max-width: 768px) {

    .CardContainer {
      margin: 5%;
      padding: 10px;
    }
  }