


.CardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 15px;
    margin: 30px 20px 30px 20px;
    background-color: white;
    box-shadow: 0px 0px 7px $tertiary;
}


.CardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    &__Left {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.CardMain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    width: 100%;
    position: relative;

}

.CardMainLeft {
    flex: 1;
}

.CardMainRight {
    height: inherit;
    top: 0px;
    right: 0px;
    position: relative;
    // absolute
}

.CardFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}


.LikeSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}