

.CommentSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &__Trigger {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
}

.CardComments {
    width: 100%;
}

.allComments {
    // padding: 10px;
    // margin: 10px;
}


.comment {
    
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 7px $tertiary;
    border-radius: 10px;

    &__UpperDiv {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
}


.leaveComment {

    margin: 10px;

    &__Field {
        width: 100%;
    }
}


