

.CommentSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &__Trigger {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
}

.CardComments {
    width: 100%;
}

// .allComments {
//     padding: 10px;
//     margin: 10px;
// }


.comment {
    
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 7px $tertiary;
    border-radius: 10px;

    &__UpperDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    &__UpperLeftDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.leaveComment {
    margin: 10px;

    &__UpperDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    &__Field {
        width: 100%;
    }
    &__Btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 20px 5px 20px;        
    }
}

.CommentEditFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px 5px 20px;        
}

.spanBtnSubmit {
    margin-left: 10px;
    font-style: italic;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 20px;
    background-color: $secondary;
    color: black;
    transition: transform .3s;

    &:hover {

        background-color: $primary;
        color: white;
        transform: scale(1.1);
    }
  }



@media only screen and (max-width: 768px) {

  .comment {
    margin: 10px 0px;
    padding: 10px 5px;
  }
}