.logPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: $gradientColor;
  

    &__container {
        height: 70%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        box-shadow: 0px 0px 7px $tertiary;
    }

    &__leftContainer {
        height: 100%;
        width: 50%;
        background: url(./Media/groupomaniasocial.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__rightContainer {
        height: 100%;
        width: 50%;
        background-color: white;
    }
  
    &__upperBand {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      height: 15%;
    }
  
    &__modalBtn--left {
      height: 100%;
      width: 100%;
      color: black;
      border: 0px;
      background-color: rgba(255, 255, 255, 0.634);

      &:last-of-type {
        background-color: $primary;
        color: white;
      }
    }
  
    &__modalBtn--right {
      height: 100%;
      width: 100%;
      color: black;
      border: 0px;
      background-color: rgba(255, 255, 255, 0.634);

      &:last-of-type {
        background-color: $primary;
        color: white;
      }
    } 
  }


.logSignForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.logPart {
  background-color: white;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2log {
  margin-bottom: 20px;
}

.labelSignForm {
  margin-bottom: 5px;
}
.inputSignForm {
  margin-bottom: 15px;
}