.logPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background: $secondary;

    & h1 {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__container {
        min-height: 70%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        box-shadow: 0px 0px 7px $tertiary;
    }

    &__leftContainer {
        height: 100%;
        width: 50%;
        background: url(./Media/groupomaniasocial.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__rightContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 50%;
        background-color: white;
    }

    & .error {
      padding: 0px 10%;
    }
}

.logBottomPart {
  display: flex;
  align-items: center;
  height: 15%;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;

  & p {
    text-decoration: underline;
    font-style: italic;

    &:hover {
      color: $primary;
    }
  }
}

.logModalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 0px;
  height: 100%;
  width: 100%;

  &:hover {
    background-color: $secondary;
  }
} 

.modal-noactive {
  background-color: $secondary;
}

.logSignForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  max-height: 85%;
  width: 100%;
}

.h2log {
  margin-bottom: 20px;
}

.labelSignForm {
  margin-bottom: 5px;
  width: 75%;
}
.inputSignForm {
  margin-bottom: 5px;
  width: 75%;
}

@media only screen and (max-width: 1024px) {
  // .logPage {

  //   &__container {
  //     flex-direction: column;
  //   }
}

@media only screen and (max-width: 768px) {

  .logPage {

    &__container {
      flex-direction: column;
    }

    &__leftContainer {
      display: none;
      width: 100%;
    }

    &__rightContainer {
      width: 100%;
    }
  }

}