.profileCardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    background-color: white;
    padding: 0%;
    position: relative;
}

.updateUserForm{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
}

.profileInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.labelProfileForm {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .inputProfileForm {
    margin-bottom: 5px;
    width: 100%;
}

.profilePageImg {
    height: 120px;
    width: 120px;
    clip-path: circle();
    object-fit: cover;
    position: relative;
    top: 2%;
    right: 2%;
  }
  

.textBio {
    height: 120px;
}


.inputImgProfile {
    display: none;
}

.profileBtnDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    & .btn {
        width: 45%;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .profilePageImg {
        height: 100px;
        width: 100px;
    }
}