.UpdateUserDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
}

.UpdateUserForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}