:root {
  --color-default: grey;
  --color-invalid: red;
  --color-valid: green;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Calibri", "Trebuchet MS", Helvetica, sans-serif;
}

body {
  height: 100vh;
  position: relative;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin: 2% 6%;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 2% 6%;
}

.bodyContent {
  padding: 0% 20% 5% 20%;
}

input {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #FFD7D7;
  background-color: rgba(243, 243, 243, 0.653);
}

.inputSignForm {
  border: none;
}
.inputSignForm:not(:focus):not(:-moz-placeholder-shown):valid {
  outline: 2px solid rgb(0, 232, 0);
}
.inputSignForm:not(:focus):not(:-ms-input-placeholder):valid {
  outline: 2px solid rgb(0, 232, 0);
}
.inputSignForm:not(:focus):not(:placeholder-shown):valid {
  outline: 2px solid rgb(0, 232, 0);
}
.inputSignForm:not(:focus):not(:-moz-placeholder-shown):invalid {
  outline: 2px solid red;
}
.inputSignForm:not(:focus):not(:-ms-input-placeholder):invalid {
  outline: 2px solid red;
}
.inputSignForm:not(:focus):not(:placeholder-shown):invalid {
  outline: 2px solid red;
}

span {
  font-style: italic;
  color: #4E5166;
  font-size: 0.8rem;
}

textarea {
  background-color: rgba(243, 243, 243, 0.653);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #FFD7D7;
  width: 100%;
  resize: none;
}

.NavContainer {
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(10deg, rgb(253, 45, 1) 0%, rgb(253, 79, 44) 20%, rgb(255, 215, 215) 100%);
}
.NavContainer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #FFD7D7;
  border: 0px solid #FD2D01;
  color: black;
  transition: transform 0.2s;
}
.btn:hover {
  background-color: #FD2D01;
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}

.inputFile {
  border: 0px solid #FD2D01;
}

.thread {
  padding-bottom: 50px;
}

.image-upload {
  display: none;
}

.imgIcons {
  height: 20px;
  margin: 0px 20px 0px 20px;
}

.interact {
  text-align: center;
}
.interact:hover {
  color: #FD2D01;
  cursor: pointer;
}

.ProfileImg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  height: 40px;
  width: 40px;
  -webkit-clip-path: circle();
          clip-path: circle();
  margin-right: 10px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.NewPostContainer {
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  margin: 0% 15% 4% 15%;
  background-color: white;
  box-shadow: 0px 0px 7px #4E5166;
}
.NewPostContainer__Main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NewPostContainer__Footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  margin-top: 5px;
}

.sendPost {
  margin-left: 10px;
}

.fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.fa-solid:hover {
  color: #FD2D01;
  cursor: pointer;
}

.fa-heart {
  color: #FD2D01;
}
.fa-heart:hover {
  color: #FD2D01;
  cursor: pointer;
}

.fa-images {
  margin: 0px 20px 0px 20px;
}

.UploadImagePart {
  position: relative;
}

.fa-images:hover + .helptext {
  display: block;
  opacity: 1;
}

.helptext {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 15px;
  cursor: pointer;
  z-index: 300;
  background-color: white;
  box-shadow: 0px 0px 7px #4E5166;
  padding: 20%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
}

p::-moz-selection {
  color: red;
  background-color: yellow;
}

p::selection {
  color: red;
  background-color: yellow;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

.DarkLogo {
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .bodyContent {
    padding: 5% 0% 10% 0%;
  }
  .NavContainer {
    padding: 10px 40px;
  }
  .LogoLink {
    display: none;
  }
  .NewPostContainer {
    margin: 0% 5% 10% 5%;
  }
  nav .ProfileImg {
    margin: 20px;
  }
  h3 {
    margin: 5% 6%;
  }
}
.CardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 15px;
  margin: 0% 15% 2% 15%;
  background-color: white;
  box-shadow: 0px 0px 7px #4E5166;
}

.CardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.CardHeader__Left {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.CardHeader__Right {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.CardHeader__RightInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
}

.CardMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.CardMain p {
  white-space: pre-line;
}

.CardMain > textarea {
  margin-bottom: 5px;
}

.CardFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.LikeSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.fa-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 0px 20px 0px 20px;
  color: black;
}
.fa-heart--hover {
  color: #FD2D01;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: right;
  position: absolute;
  right: 0px;
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  transition: opacity 260ms ease-in-out transform 260ms ease-in-out;
}
.dropdown-content:hover {
  display: block;
  transform: translateY(0px);
  z-index: 300;
}

.fa-ellipsis-vertical {
  padding: 0px 15px 0px 15px;
}

.fa-ellipsis-vertical:hover + .dropdown-content {
  display: block;
  transform: translateY(0px);
  z-index: 300;
}

.dropdown-list {
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
}

.dropdown-list:hover {
  color: white;
  background-color: #FD2D01;
}

@media only screen and (max-width: 768px) {
  .CardContainer {
    margin: 5%;
    padding: 10px;
  }
}
.logPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(10deg, rgb(253, 45, 1) 0%, rgb(253, 79, 44) 20%, rgb(255, 215, 215) 100%);
}
.logPage h1 {
  margin-bottom: 30px;
}
.logPage__container {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 0px 7px #4E5166;
}
.logPage__leftContainer {
  height: 100%;
  width: 50%;
  background: url(./Media/groupomaniasocial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logPage__rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-color: white;
}

.logUpperPart {
  display: flex;
  align-items: center;
  height: 15%;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.logModalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 0px;
  height: 100%;
  width: 100%;
}
.logModalBtn:hover {
  background-color: #FFD7D7;
}

.modal-noactive {
  background-color: #FFD7D7;
}

.logSignForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  background: white;
  height: 85%;
  width: 100%;
}

.h2log {
  margin-bottom: 20px;
}

.labelSignForm {
  margin-bottom: 5px;
  width: 75%;
}

.inputSignForm {
  margin-bottom: 5px;
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .logPage__container {
    flex-direction: column;
  }
  .logPage__leftContainer {
    display: none;
    width: 100%;
  }
  .logPage__rightContainer {
    width: 100%;
  }
}
.CommentSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.CommentSection__Trigger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.CardComments {
  width: 100%;
}

.comment {
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 7px #4E5166;
  border-radius: 10px;
}
.comment__UpperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.comment__UpperLeftDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.leaveComment {
  margin: 10px;
}
.leaveComment__UpperDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.leaveComment__Field {
  width: 100%;
}
.leaveComment__Btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20px 5px 20px;
}

.CommentEditFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20px 5px 20px;
}

.spanBtnSubmit {
  margin-left: 10px;
  font-style: italic;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 20px;
  background-color: #FFD7D7;
  color: black;
  transition: transform 0.3s;
}
.spanBtnSubmit:hover {
  background-color: #FD2D01;
  color: white;
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .comment {
    margin: 10px 0px;
    padding: 10px 5px;
  }
}
.UsersTable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2%;
}

.UserCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 30px;
  min-width: 200px;
  max-width: 200px;
  height: 100px;
  padding: 15px;
  box-shadow: 0px 0px 7px #4E5166;
  color: black;
  transition: transform 0.3s;
}
.UserCardContainer:hover {
  background-color: #FFD7D7;
  transform: scale(1.1);
}
.UserCardContainer__UpperDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}
.UserCardContainer span {
  text-align: center;
}

.bioUserCard {
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.ProfileCardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  text-align: left;
  background-color: white;
  box-shadow: 0px 0px 7px #4E5166;
  border-radius: 20px;
  padding: 5%;
  position: relative;
}

.UpdateUserForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profileInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labelProfileForm {
  margin-bottom: 5px;
  width: 100%;
}

.inputProfileForm {
  margin-bottom: 5px;
  width: 100%;
}

.ProfilePageImg {
  height: 120px;
  width: 120px;
  -webkit-clip-path: circle();
          clip-path: circle();
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 2%;
  right: 2%;
}

.textbio {
  height: 120px;
}

.inputImgProfile {
  display: none;
}

.ProfileBtnDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.ProfileBtnDiv .btn {
  width: 45%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .ProfilePageImg {
    height: 100px;
    width: 100px;
  }
}/*# sourceMappingURL=index.css.map */