* {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  height: 100vh;
}

h2 {
  margin: 0px;
}

.bodyContent {
  padding: 2% 10% 5% 10%;
}

input {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #FD2D01;
}

span {
  font-style: italic;
  color: #4E5166;
  font-size: 0.8rem;
}

textarea {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #FD2D01;
  width: 100%;
  resize: none;
}

.NavContainer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(10deg, rgb(253, 45, 1) 0%, rgb(253, 79, 44) 20%, rgb(255, 215, 215) 100%);
}
.NavContainer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px;
  border-radius: 20px;
  background-color: #FFD7D7;
  border: 1px solid #FD2D01;
  color: black;
  transition: transform 0.3s;
}
.btn:hover {
  background-color: #FD2D01;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.inputFile {
  border: 0px solid #FD2D01;
}

.thread {
  padding-bottom: 50px;
}

.image-upload {
  display: none;
}

.imgIcons {
  height: 20px;
  margin: 0px 20px 0px 20px;
}

.interact:hover {
  color: #FD2D01;
  cursor: pointer;
}

.ProfileImg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  height: 40px;
  width: 40px;
  -webkit-clip-path: circle();
          clip-path: circle();
  margin-right: 10px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.NewPostContainer {
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  margin: 0px 40px 20px 40px;
  background-color: white;
  box-shadow: 0px 0px 7px #4E5166;
}
.NewPostContainer__Main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NewPostContainer__Footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  margin-top: 5px;
}

.sendPost {
  margin-left: 10px;
}

.fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.fa-solid:hover {
  color: #FD2D01;
  cursor: pointer;
}

.fa-heart {
  color: #FD2D01;
}
.fa-heart:hover {
  color: #FD2D01;
  cursor: pointer;
}

.fa-images {
  margin: 0px 20px 0px 20px;
}

p::-moz-selection {
  color: red;
  background-color: yellow;
}

p::selection {
  color: red;
  background-color: yellow;
}

.CardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 15px;
  margin: 5% 15% 5% 15%;
  background-color: white;
  box-shadow: 0px 0px 7px #4E5166;
}

.CardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.CardHeader__Left {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.CardHeader__Right {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.CardHeader__RightInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
}

.CardMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.CardFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.LikeSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.fa-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 0px 20px 0px 20px;
  color: black;
}
.fa-heart--hover {
  color: #FD2D01;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: right;
  position: absolute;
  right: 0px;
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  transition: opacity 260ms ease-in-out transform 260ms ease-in-out;
}
.dropdown-content:hover {
  display: block;
  transform: translateY(0px);
  z-index: 300;
}

.fa-ellipsis-vertical {
  padding: 0px 15px 0px 15px;
}

.fa-ellipsis-vertical:hover + .dropdown-content {
  display: block;
  transform: translateY(0px);
  z-index: 300;
}

.dropdown-list {
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
}

.dropdown-list:hover {
  color: white;
  background-color: #FD2D01;
}

.logPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(10deg, rgb(253, 45, 1) 0%, rgb(253, 79, 44) 20%, rgb(255, 215, 215) 100%);
}
.logPage__container {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 0px 7px #4E5166;
}
.logPage__leftContainer {
  height: 100%;
  width: 50%;
  background: url(./Media/groupomaniasocial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logPage__rightContainer {
  height: 100%;
  width: 50%;
  background-color: white;
}
.logPage__upperBand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 15%;
}
.logPage__modalBtn--left {
  height: 100%;
  width: 100%;
  color: black;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.634);
}
.logPage__modalBtn--left:last-of-type {
  background-color: #FD2D01;
  color: white;
}
.logPage__modalBtn--right {
  height: 100%;
  width: 100%;
  color: black;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.634);
}
.logPage__modalBtn--right:last-of-type {
  background-color: #FD2D01;
  color: white;
}

.logSignForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.logPart {
  background-color: white;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2log {
  margin-bottom: 20px;
}

.labelSignForm {
  margin-bottom: 5px;
}

.inputSignForm {
  margin-bottom: 15px;
}

.CommentSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.CommentSection__Trigger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.CardComments {
  width: 100%;
}

.comment {
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 7px #4E5166;
  border-radius: 10px;
}
.comment__UpperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.comment__UpperLeftDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.leaveComment {
  margin: 10px;
}
.leaveComment__Field {
  width: 100%;
}
.leaveComment__Btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20px 5px 20px;
}

.CommentEditFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20px 5px 20px;
}

.spanBtnSubmit {
  margin-left: 10px;
  font-style: italic;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 20px;
  background-color: #FFD7D7;
  color: black;
  transition: transform 0.3s;
}
.spanBtnSubmit:hover {
  background-color: #FD2D01;
  color: white;
  transform: scale(1.1);
}

.UsersTable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5%;
}

.UserCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 30px;
  min-width: 200px;
  max-width: 300px;
  max-height: 200px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 7px #4E5166;
  color: black;
  transition: transform 0.3s;
}
.UserCardContainer:hover {
  background-color: #FFD7D7;
  transform: scale(1.1);
}
.UserCardContainer__UpperDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.bioUserCard {
  margin-top: 10px;
  overflow: scroll;
  white-space: wrap;
  text-overflow: ellipsis;
}

.ProfileCardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  text-align: left;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 7px #4E5166;
  padding: 5%;
  position: relative;
}

.UpdateUserForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profileInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ProfilePageImg {
  height: 120px;
  width: 120px;
  -webkit-clip-path: circle();
          clip-path: circle();
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 5%;
  right: 5%;
}

.textbio {
  height: 120px;
}/*# sourceMappingURL=index.css.map */